.navMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
  padding: 0.5rem 0;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background-color: var(--color-subtitle);

  transition: background-color 0.3s ease;

  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
}

.navItem {
  font-size: var(--size-text);
  font-weight: 700;
  color: var(--color-background);
  text-decoration: none;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: var(--color-primary);
}

.darkMode {
  font-weight: 700;
  color: var(--color-background);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.darkMode:hover {
  color: var(--color-primary);
}
